
.skills .container svg{
    margin: 10px;
}

@media (max-width: 1050px){
    header::before{
        background-position: 60%;
    }
    .about .about-me{
        flex-direction: column;
        justify-content: center;
        padding: 5px 0;
    }
    .about .title{
        left: 100px;
    }
    .about .about-me .text, .about .about-me .image{
        width: 100%;
    }
    .about .about-me .image{
        text-align: center;
    }
    .about .about-me .text h2{
        font-size: 35px;
    }
    .about .about-me .text .pg{
        padding: 8px 0;
    }
    .about .about-me .image img{
        width: 55%;
    }
    .project .project-details .pIntro h2, .project-two .project-details .pIntro h2{
        font-size: 38px;
    }
    .project-two .project-details{
        padding-top: 10px;
    }
    
}

@media (max-width: 800px){
    header::before{
        background-image: url(../img/port3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 40%;
        width: 100vw;
        height: 100vh;
    }
    .skills .container .sContent{
        padding-top: 0px;
        display: flex;
        flex-direction: column;
    } 
    .skills .container h5{
        padding: 5px;
        font-size: 18px;
    }
    .skills .container svg{
        margin: 3px;
        padding: 15px;
    }
    .about .about-me .image img{
        width: 75%;
    }
    .project .project-details .pIntro h2, .project-two .project-details .pIntro h2{
        font-size: 30px;
    }
    .project .project-details .pIntro{
        padding-top: 20px;
    }
    .project-two .project-details .pIntro .pg{
        padding-top: 0px;
    }
    .contact .content-box{
        flex-direction: column;
    }
    .contact .content-box .cText{
        width: 100%;
        margin-top: 0;
        padding: 0px;
        text-align: center;
    }
    .contact .content-box .cText p{
       padding: 5px;
       font-size: 15px;
    }
    .contact .content-box .contact-form{
        width: 100%;
    }
    .contact .content-box .contact-form form{
        padding: 10px;
        border: none;
    }
    .contact h2{
        font-size: 35px;
    }
    
}

@media (max-width: 750px){
    header::before{
        background-position: 50% 60%;
    }    
}


@media (max-width: 700px){
    header::before{
        background-position: 50% 25%;
    } 
    .project .project-details, .project-two .project-details{
        flex-direction: column;
        padding: 5px 20px;
    }
    .project .project-details .pIntro, .project-two .project-details .pIntro{
        width: 100%;
        padding-top: 0px;
    }
    .project .project-details .pIntro .pg, .project-two .project-details .pIntro .pg{
        padding-top: 0px;
    }
    .project .project-details .pIntro p, .project-two .project-details .pIntro p{
        padding-top: 0px;
    }
    .project .project-details .pDemo, .project-two .project-details .pDemo{
        width: 100%;
        height: 30vh;
    }   
}

@media (max-width: 500px){
    header::before{
        background-image: url(../img/port2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
    }
    header .updated{
        right: 80px;
        top: 10px;
    }
    header nav ul a{
        font-size: 30px;
    }
    header nav .social-media{
        width: 50%;
        margin-top: 30%;
    }
    header nav .social-media i{
        padding: 5px;
    }
    header nav .social-media{
        width: 80%;
        margin-top: 30%;
    }
    .skills .container svg{
        margin: 0px;
    }
    .about .about-me .image img{
        width: 100%;
    }
    .project-four .project-title{
        left: 100px;
    }
}

@media (max-width: 360px){
    .skills .container svg{
        width: 50px;
        padding: 10px;
    }
}