@import url("https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700,700i&display=swap");
.js-loading *, .js-loading *:before, .js-loading *:after {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

* {
  padding: 0;
  margin: 0;
}

header {
  height: 100vh;
  position: relative;
}

header .updated {
  position: absolute;
  color: #6b7f8e;
  font-family: 'Merriweather', serif;
  right: 90px;
  top: 40px;
}

header .updated h6 {
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
}

header .hamburger-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: #6b7f8e;
  z-index: 3;
  overflow: hidden;
  cursor: pointer;
}

header .hamburger-menu .fa-bars {
  border: 0.5px solid #6b7f8e;
  border-radius: 3px;
  padding: 10px;
  position: relative;
}

header .hamburger-menu .fa-times {
  display: none;
  border: 0.5px solid #6b7f8e;
  border-radius: 3px;
  padding: 10px 12.4px;
}

header .hamburger-menu .fa-times.open {
  display: block;
}

header .hamburger-menu .fa-bars.open {
  display: none;
}

header .hamburger-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  -webkit-transition: all 650ms;
  transition: all 650ms;
}

header .hamburger-menu:hover::before {
  left: 100%;
}

header nav {
  position: fixed;
  z-index: 2;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 650ms;
  transition: opacity 650ms;
}

header nav ul {
  padding-top: 7%;
  font-family: 'Black Ops One', cursive;
  width: 100vw;
  height: 100vh;
  background-color: #050E22 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul a {
  color: #6b7f8e;
  font-size: 50px;
  padding: 10px;
}

header nav .social-media {
  margin-top: 5%;
  color: #6b7f8e;
  width: 60%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .social-media i {
  padding: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #050E22;
}

header nav .social-media .fa-instagram:hover {
  color: #e4405f;
  border-radius: 50%;
  border: 1px solid #e4405f;
}

header nav .social-media .fa-facebook-square:hover {
  color: #3b5999;
  border-radius: 50%;
  border: 1px solid #3b5999;
}

header nav .social-media .fa-youtube:hover {
  color: #cd201f;
  border-radius: 50%;
  border: 1px solid #cd201f;
}

header nav .social-media .fa-linkedin:hover {
  color: #0077B5;
  border-radius: 50%;
  border: 1px solid #0077B5;
}

header nav .social-media .fa-github-square:hover {
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
}

header nav.open {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: drop 1s ease forwards;
          animation: drop 1s ease forwards;
}

header:before {
  -webkit-animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background-image: url(../img/port1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.about {
  padding: 40px;
  height: 100vh;
  position: relative;
}

.about .container {
  width: 95%;
  border: 1px solid #6b7f8e;
  border-radius: 7px;
  height: 87vh;
  overflow: hidden;
}

.about .title {
  position: absolute;
  top: 2px;
  left: 130px;
  background: white;
}

.about .title h5 {
  padding: 10px;
  font-family: 'Merriweather', serif;
  color: #6b7f8e;
  font-style: italic;
}

.about .about-me {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Merriweather', serif;
  color: #050E22;
  word-spacing: 3px;
  letter-spacing: 1px;
}

.about .about-me .text h2 {
  font-weight: bold;
  font-style: italic;
}

.about .about-me .text .pg {
  padding-top: 30px;
}

.about .about-me .text p {
  font-weight: lighter;
  width: 75%;
  float: right;
}

.about .about-me .text .line1 {
  border: 2px solid black;
  width: 20%;
  float: left;
  margin-top: 8px;
}

.about .about-me .image img {
  width: 100%;
}

.about .about-me .image .image2 {
  display: none;
}

.skills {
  background-image: url(../img/skillbg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
  height: 100vh;
  position: relative;
}

.skills .container {
  width: 95%;
  overflow: hidden;
  border: 1px solid #6b7f8e;
  border-radius: 7px;
  height: 87vh;
}

.skills .container .sContent {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills .container h5 {
  font-family: 'Merriweather', serif;
  background-color: #6b7f8e;
  color: white;
  text-align: center;
  mix-blend-mode: multiply;
  padding: 10px;
  border-radius: 5px;
}

.skills .container .pSkill, .skills .container .kSkill, .skills .container .cSkill {
  text-align: center;
}

.skills .container svg {
  width: 60px;
  padding: 10px;
  margin: 15px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.project-one, .project {
  padding: 40px;
  height: 100vh;
  position: relative;
  font-family: 'Merriweather', serif;
}

.project-one .container, .project .container {
  width: 95%;
  border: 1px solid #6b7f8e;
  border-radius: 7px;
  height: 87vh;
  overflow: hidden;
}

.project-one .project-title, .project .project-title {
  position: absolute;
  top: 2px;
  left: 130px;
  background: white;
}

.project-one .project-title h5, .project .project-title h5 {
  padding: 10px;
  color: #6b7f8e;
  font-style: italic;
}

.project-one .project-details, .project .project-details {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #050E22;
  word-spacing: 3px;
  letter-spacing: 1px;
}

.project-one .project-details .pIntro, .project .project-details .pIntro {
  width: 30%;
  padding-top: 70px;
}

.project-one .project-details .pIntro h2, .project .project-details .pIntro h2 {
  font-weight: bold;
  font-style: italic;
}

.project-one .project-details .pIntro p, .project .project-details .pIntro p {
  font-weight: lighter;
  padding: 4px;
  width: 75%;
  float: right;
}

.project-one .project-details .pIntro a, .project .project-details .pIntro a {
  color: #050E22;
  font-style: italic;
}

.project-one .project-details .pIntro .pg, .project .project-details .pIntro .pg {
  padding-top: 30px;
}

.project-one .project-details .pIntro .line1, .project .project-details .pIntro .line1 {
  border: 2px solid black;
  width: 20%;
  float: left;
  margin-top: 11px;
}

.project-one .project-details .pDemo, .project .project-details .pDemo {
  width: 50%;
  background-position: top;
  -webkit-transition: ease-in-out 5s;
  transition: ease-in-out 5s;
  border: 5px solid rgba(5, 14, 34, 0.5);
  border-radius: 10px;
}

.project-one .project-details .image, .project .project-details .image {
  background: url(../img/bhanshaghar.png);
  background-size: cover;
}

.project-one .project-details .image:hover, .project .project-details .image:hover {
  background-position: bottom;
}

.project-two .project-title h5 {
  padding: 10px;
}

.project-two .project-details {
  padding-top: 50px;
}

.project-two .project-details .pIntro {
  padding-top: 30px;
}

.project-two .project-details .pIntro p {
  padding: 4px;
}

.project-two .project-details .pIntro .pg {
  padding-top: 30px;
}

.project-two .project-details .image {
  background: url(../img/eyecare.png);
  background-size: cover;
}

.project-three .project-details .image {
  background: url(../img/cyber.png);
  background-size: cover;
}

.project-four .project-details .image {
  background: url(../img/ryu.png);
  background-size: cover;
}

.contact {
  background: url(../img/c.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;
  font-family: 'Merriweather', serif;
}

.contact h2 {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #6b7f8e;
}

.contact .container {
  width: 95%;
  border: 1px solid #6b7f8e;
  border-radius: 7px;
  height: 87vh;
  overflow: hidden;
}

.contact .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact .content-box .cText {
  width: 50%;
  text-align: right;
  padding: 20px;
  margin-top: 30px;
}

.contact .content-box .cText p {
  padding: 10px;
  font-size: 18px;
}

.contact .content-box .cText i {
  font-size: 20px;
}

.contact .content-box .contact-form {
  width: 50%;
}

.contact .content-box .contact-form form {
  border-left: 1px solid #6b7f8e;
  padding: 30px;
}

.contact .content-box .contact-form form .btn {
  width: 50%;
  margin-left: 30%;
  background: #050E22 !important;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/*# sourceMappingURL=style.css.map */